<style type="text/css">
	body {
		margin-top: 0;
	}
</style>

<%= video_tag "crowd_LO.mp4", id: "signinVideo", autoplay: :autoplay, loop: :loop, mute: true %>

<div id="clearance" class="vertical-center">
	<div id="sign-in-view" class="w-75 mx-auto text-center">
	  <a href="/"><%= image_tag "logo_large_W_full.png", style:"width: 70%;" %></a>

  		<%= render partial: '/sessions/form' %>

	</div>
</div>
