
	<div id="clearance" class="vertical-center">
		<div class="w-75 mx-auto text-center">
		  <%= image_tag "logo_large_W.png", style:"width: 60%;" %>
		  <h1 class="cover-heading f-1">SECURITY <%= image_tag "logo_crossbones_W.png", style:"width: 3rem;" %> SYSTEMS</h1>
		  
  		  <%= render partial: '/sessions/form' %>
		  
		</div>
	</div>

