<div class="text-field text-center m-2">
  <%= form.text_field :name, placeholder:"FULL NAME", class:"form-control w-50 mx-auto" %>
</div>

<div class="text-field text-center m-2">
  <%= form.text_field :email, type: 'email', placeholder:"EMAIL", class:"form-control w-50 mx-auto" %>
</div>

<div class="password-field text-center m-1">
  <%= form.password_field :password, class:"form-control w-50 mx-auto", placeholder:"PASSWORD" %></br>
  <%= form.label "Password length must be 8-20 Characters" %>
</div>
