<div>
  <%= video_tag "WeWillLockYouLayers.mp4", id: "myVideo2", autoplay: false, loop: false, mute: false, controls: true%>
  <div id="home-view" class="text-center position-relative">
    <%= image_tag "logo_large_W.png", style:"width: 70%;" %>
  </div>
</div>
