<!-- <#%= image_tag ('generic-smart-lock-796x398.jpg') %> -->

<% if current_user && @user.subscription_status == true %>

<div id="testing-here" class='w-25 h-25 bg-success'>

	</div>

<% elsif current_user && @user.subscription_status == false %>


	<div class="text-center w-50 h-50 my-auto shadow-lg child bg-form-custom border rounded p-3">
	  <div class="child">
		<h1 class="text-center text-light">Welcome back <%= @user.name %></h1>
		<h3 class="text-light">
			Your subscription is not yet validated! Please make immediate payment in order to access your account!
		</h3>
		<%= link_to "Make Payment", subscription_new_path, class:"btn btn-outline-danger" %>
	  </div>
	</div>


<% else %>


<div class="cover-container d-flex w-100 h-100 p-mx3-auto flex-column__web-inspector-hide-shortcut__">
      <!-- <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Lock n' Roll</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a>
          </nav>
         </div>
      </header> -->
			<div class="inner-cover">
	       <main role="main" class="inner cover">
	        <h1 class="cover-heading">Welcome to Lock N Roll!</h1>
	        <p class="lead">Did you lock your door in your house? If not, you have come to the right page! We can help you to lock your door remotely. </p>
	        <!-- <p class="lead">
	          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
	        </p> -->
	       </main>
			 </div>

       <!-- <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>
     </div>


</div>  -->

<!-- ## Matt container -->
	<!-- <div class="text-center w-50 h-50 my-auto shadow-lg child bg-form-custom border rounded p-3">
	  <div class="child">
		<h1 class="text-light">Welcome to Lock N Roll!</h1>
		<h3 class="text-light">
			Please login to gain access to your account!
		</h3>
		<h1 class="text-light"><i class="fas fa-lock"></i></h1>
	  </div>
	</div> -->

<% end %>

<script>

$(document).ready(function(){

				setInterval(function(){
					$.ajax({

						url: 'locks/status_check',
						method: 'GET',
						dataType: 'JSON',
						success: function(data){
							console.log(data)
							var status = data.status;
							if (status == "Unlocked"){
								$('#testing-here').removeClass('bg-success');
								$('#testing-here').addClass('bg-danger');
							} else if (status == "Locked"){
								$('#testing-here').removeClass('bg-danger');
								$('#testing-here').addClass('bg-success');
							}
						}
					})}, 5000);

			})


</script>
