<% if current_user && @user.subscription_status == true %>
	
	<button id="testing">Testing</button>
	<div id="testing-here" class='w-25 h-25 bg-success'>

	</div>	

<% elsif current_user && @user.subscription_status == false %>


	<div class="text-center w-50 h-50 my-auto shadow-lg child bg-form-custom border rounded p-3">
	  <div class="child">
		<h1 class="text-center text-light">Welcome back <%= @user.name %></h1>
		<h3 class="text-light">
			Your subscription is not yet validated! Please make immediate payment in order to access your account!
		</h3>
		<%= link_to "Make Payment", subscription_new_path, class:"btn btn-outline-danger" %>
	  </div>
	</div>


<% else %>

	<div class="text-center w-50 h-50 my-auto shadow-lg child bg-form-custom border rounded p-3">
	  <div class="child">
		<h1 class="text-light">Welcome to Lock N Roll!</h1>
		<h3 class="text-light">
			Please login to gain access to your account!
		</h3>
		<h1 class="text-light"><i class="fas fa-lock"></i></h1>
	  </div>
	</div>

<% end %>
<<<<<<< HEAD

<script>

	$(document).ready(function(){

				setInterval(function(){
					$.ajax({

						url: 'locks/status_check',
						method: 'GET',
						dataType: 'JSON',
						success: function(data){
							var status = data.status;
							if (status == "Unlocked"){
								$('#testing-here').removeClass('bg-success');
								$('#testing-here').addClass('bg-danger');
							} else if (status == "Locked"){
								$('#testing-here').removeClass('bg-danger');
								$('#testing-here').addClass('bg-success');
							}
						}
					})}, 5000);

			})


</script>
=======
>>>>>>> 1. removed link to braintree at welcome/index.html.erb; suggest to show the link if the user has not subscribed to our services or subscribtion expired
