/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {

	margin-top: 100px;
	color: white;
	 background: url('backgound_pages.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
      background-size: cover;
}

#easter-egg{

  position: absolute;
  right: 10px;

}

.alert {

  z-index: 998;
  background-color: #FF046B;
  color: #2E2E2E;

}

.text-pink {

  color: #FF046B!important;

}

.text-lb {

  color: #B5FFFF!important;

}

.almost-black {

  color: #2E2E2E;

}

.navbar {

  z-index: 999;

}

.bg-black {

	background-color: black;

}

.navbar-toggler {

  background-color: #FF046B!important;

}

#home-view {
	z-index: 1;
}

#sign-in-view {
	z-index: 1;
}

#sign-up-view {
	z-index: 1;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}

#signinVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}

#signupVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}

.f-1 {

	font-family: "Oswald", sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	/*font-size: 1.25rem;*/
	color: #A6FFFF;

}

.f-3 {
	font-family: "Oswald", sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 1.2rem;
	color: #ACACAC;
}

.f-2 {

	font-family: "Roboto", sans-serif;

}

.f-header-blue {
	font-family: "Oswald", sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	color: #A6FFFF;
	font-size: 1.75rem;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one */

  display: flex;
  align-items: center;
}

.bg-form-custom {
	margin-top: 50px;
	background-color: rgb(81, 90, 78);
}

.sign-up{

	width: 30%;
}

.sign-in{

	width: 30%;
}

.password-reset{

	width: 50%;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.container {
	margin-top: 1rem;
}

.w-50 {
	width: 60%!important;
}

@media only screen and (max-width: 425px) {
  
  .sign-in {
    width: 80%;
  }
  
  .sign-up {
    width: 80%;
  }
  
	.w-50 {
    width: 80%!important;
	}
  
	.p-3 {
		padding: 0rem!important;

	}

  body {

    margin-top: 100px;
    color: white;
    background-image: linear-gradient(#7A0266, #310263, #14013A);
  }
}
