// Place all the styles related to the Locks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* lock map css */

#map {
  width:95%;
  height: 85vh;
  position: absolute;
  border: 1px solid black;
 }

 /* lock map css */
 .marker-locked {
   background-image: url('locked_map.png');
   background-size: cover;
   width: 45px;
   height: 70px;
   font-family: "Oswald";
   /*border-radius: 50%;*/
   cursor: pointer;
 }

 .marker-unlocked {
   background-image: url('unlocked_map.png');
   background-size: cover;
   width: 45px;
   height: 70px;
   /*border-radius: 50%;*/
   cursor: pointer;
 }

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Oswald';
  text-transform: uppercase;
	color: black;
}



.coordinates {
    background: rgba(0,0,0,0.5);
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding:5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}







/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff0067;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #323232;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #A6FFFF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #A6FFFF;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #323232;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*register lock card-------------------------------------------------------------*/
.card {
  // width: 30%;
  position: relative;
  border: 1px solid black;
  background-color: #495057!important;
  min-width: 200px;
  // margin-top: 13px;
  // margin: 0px 2px 1px 50px;

}

.card-header, h5 {
  color: #B5FFFF!important;
  // background-color: black;
}

.card-body {
  background-color: white;

}
// DONT TOUCH
.text-light {
    color: #383d41!important;
}

.submit-field {
  margin: 0;
  padding: 0px;
}

.btn-secondary {
    background-color: #FF046B!important;
    border-color: white!important;
}

.form-control {
  border-radius: 0;
  border: 1px solid #343a40;
}

.small-font {

  font-size: 0.75em ;

}

// SHOW page--------------------------------------

.show-icon {
position: relative;

}

.show-toggle {
position: absolute;
top: 150px;
left: 45px;

}

.div-panel-right {
padding-left: 50px;
min-width: 200px;

}


// Show Page LOCKED OR UNLOCKED-----------------------------
.show-status-locked {
  // font-family: "Oswald", sans-serif;
  // font-weight: 300;
  // text-transform: uppercase;
  // font-size: 2.8rem;
  // color: #A6FFFF;
  // margin: auto;
  // margin-left: 1.5vw;
  // margin-bottom: 70px;
  margin-top: 3vh;
  padding: 0rem 1rem 0rem 1rem;
}

h6.btn {
  padding: 0.25rem 0.25rem;
}

// .show-status-unlocked {
//   // font-family: "Oswald", sans-serif;
//   // font-weight: 300;
//   // text-transform: uppercase;
//   // font-size: 2.5rem;
//   // color: #FF046B;
//   margin: auto;
//   margin-bottom: 70px;
// }

#show-card {
  margin-top: 20px;
}

.showpage-status {
  font-size: 2.8rem;
}

#lock-status-container {
  margin: 0rem 1rem 0rem 1rem;
}

#latc {
  padding: 0rem 0.3rem 0rem 0.3rem;
  margin: 0rem 0.3rem 0rem 0.3rem;
}



// MOBILE SIZES-----------------------------------------

@media only screen and (max-width: 425px) {

  .card {
    min-width: 25%!important;
    margin: 15px;
  }

  .form-control,
    element.style {
    width: 100% !important;
  }

  .div-panel-right {
  padding-left: 1px;
  min-width: 200px;
}



#map {
  width: 90vw;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 20px;

 }

 .show-status-locked {

   font-size: 3rem;

 }

 .show-status-unlocked {
  font-size: 3rem;
 }

#lock-status-container {
  margin: 0rem 1rem 0rem 1rem;
}

}
