// Place all the styles related to the Locks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* lock map css */
.marker {
  background-image: url('/images/map_icons/lock closed black01.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  /* font-family: 'Open Sans', sans-serif; */
	color: black;
}



.coordinates {
    background: rgba(0,0,0,0.5);
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding:5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}








// map---------------------------------------------------------------------




.my-custom-control {
 color: black;
 background: white;
 padding: 8px;
 border-radius: 4px;
 margin: 8px;
}
