// Place all the styles related to the Locks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* lock map css */
body {
  margin-top: 100px;
}

#map {
  width:95%;
  height: 800px;
  position: absolute;
  border: 1px solid black;
 }

 /* lock map css */
 .marker-locked {
   background-image: url('locked_map.png');
   background-size: cover;
   width: 45px;
   height: 70px;
   /*border-radius: 50%;*/
   cursor: pointer;
 }

 .marker-unlocked {
   background-image: url('unlocked_map.png');
   background-size: cover;
   width: 45px;
   height: 70px;
   /*border-radius: 50%;*/
   cursor: pointer;
 }

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  /* font-family: 'Open Sans', sans-serif; */
	color: black;
}



.coordinates {
    background: rgba(0,0,0,0.5);
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding:5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

a.mapboxgl-ctrl-logo {
  width: 0px !important;
}





/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff0067;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #A6FFFF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #A6FFFF;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #323232;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*register lock card-------------------------------------------------------------*/
.card {
  // width: 30%;
  position: relative;
/*register lock card*/
#kend-card {
  position: absolute;
  border: 1px solid black;
  background-color: #495057!important;
  min-width: 200px;
  // margin-top: 13px;
  // margin: 0px 2px 1px 50px;

}

#kend-card-header, #kend-card-header h5 {
  color: #B5FFFF!important;
  background-color: black;
}

#kend-card-body {
  background-color: white;

}
// DONT TOUCH
.text-light {
    color: #383d41!important;
}

.submit-field {
  margin: 0;
  padding: 0px;
}

#kend-btn-secondary {
    background-color: #FF046B!important;
    border-color: white!important;
}

.form-control {
  border-radius: 0;
  border: 1px solid #343a40;
}

#kend-small-font {

  font-size: 0.75em ;

}

// SHOW page--------------------------------------
@media only screen and (max-width: 425px) {

  #kend-card {
    min-width: 25%!important;
    margin: 60px;
  }

.show-icon {
position: relative;

}

.show-toggle {
position: absolute;
top: 150px;
left: 45px;

}

.div-panel-right {
padding-left: 50px;
min-width: 200px;

}


// Show Page LOCKED OR UNLOCKED-----------------------------
.show-status-locked {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 4.5rem;
  color: #A6FFFF;
  margin: auto;
  margin-bottom: 70px;
@media only screen and (max-width: 375px) {

  #kend-card {
    min-width: 25%!important;
    margin: 45px!important;
  }

}

@media only screen and (max-width: 320px) {

  #kend-card {
    min-width: 10%!important;
    margin: 15px !important;
  }

}

#bt-card {
  background-color: #000000;
  max-width: 27rem;
}

#bt-card-body {
  padding: 0.75rem;
  height: 3.5rem;
  background-color: #323232;
}

#bt-lock-name a {
  color: white !important;
}

.zoom-button {
  background: url('/assets/images/ic_action_location_2.png');
}


<<<<<<< HEAD
.show-status-unlocked {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 4.5rem;
  color: #FF046B;
  margin: auto;
  margin-bottom: 70px;
=======
.fixed {
  position: fixed;
>>>>>>> 1. fixed conflicting css between boon tek's and kendall's
}

#show-card {
  margin-top: 20px;
}


.lock-page-btns {
  background-color: #000000;
}

<<<<<<< HEAD
=======
@media screen and (max-width: 767px){
  #everything-container{
    position: relative;
  }
  
  #locks-map-container {
    margin-left: auto;
    margin-right: auto;
  }

  #locks-container {
    position: absolute;
    margin-top: 1rem;
    width: 21rem;
  }
>>>>>>> 1. fixed conflicting css between boon tek's and kendall's




<<<<<<< HEAD
// MOBILE SIZES-----------------------------------------

@media only screen and (max-width: 425px) {

  .card {
    min-width: 25%!important;
    margin: 60px;
  #map {
=======
  .lock-page-map {
>>>>>>> 1. minor fix for locks.scss
    position: absolute;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 768px){
  #locks-map-container {
    display: flex;
  }
  
  #locks-container {
    display: block;
    position: relative;
    float: left;
    padding: 1rem 0.55rem 1rem 0rem;
    width: 27rem;
    height: 100%;
  }

  .lock-page-map {
    float: right;
    width: 60rem;
    height: 100%;
  }

  .form-control,
    element.style {
    width: 100% !important;
  }

}

// @media only screen and (max-width: 375px) {
//
//   .card {
//     min-width: 25%!important;
//     margin: 45px!important;
//   }
//
// }

// @media only screen and (max-width: 320px) {
//
//   .card {
//     min-width: 10%!important;
//     margin: 15px !important;
//   }
//
// }
