// Place all the styles related to the Locks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* lock map css */
.marker {
  background-image: url('/images/map_icons/lock closed black01.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  /* font-family: 'Open Sans', sans-serif; */
	color: black;
}



.coordinates {
    background: rgba(0,0,0,0.5);
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding:5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}







/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff0067;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #A6FFFF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #A6FFFF;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #323232;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*register lock card*/
.card {
  position: absolute;
  border: 1px solid black;
  background-color: #495057!important;
  min-width: 25%;
  margin-top: 50px;
  margin: 50px;

}

.card-header, h5 {
  color: #B5FFFF!important;
  background-color: black;
}

.card-body {
  background-color: white;

}

.text-light {
    color: #383d41!important;
}

.submit-field {
  margin: 0;
  padding: 0px;
}

.btn-secondary {
    background-color: #FF046B!important;
    border-color: white!important;
}

.form-control {
  border-radius: 0;
  border: 1px solid #343a40;
}

.small-font {

  font-size: 0.75em ;

}

@media only screen and (max-width: 425px) {

  .card {
    min-width: 25%!important;
    margin: 60px;
  }

  .form-control,
    element.style {
    width: 100% !important;
  }

}

@media only screen and (max-width: 375px) {

  .card {
    min-width: 25%!important;
    margin: 45px!important;
  }

}

@media only screen and (max-width: 320px) {

  .card {
    min-width: 10%!important;
    margin: 15px !important;
  }

}
.card-body {
  padding: 0.75rem;
  height: 3.5rem;
  background-color: #323232;
}

.card {
  background-color: #000000;
}

.zoom-button {
  background: url('/assets/images/ic_action_location_2.png');
}

.dont-show {
  display: none;
}

.fixed {
  position: fixed;
  top: 20px;
}

a.fill-div {
  display: block;
}

.locked-color {
  filter: hue-rotate(336);
}

#lock-map-container {
  
}

@media screen and (min-width: 320px){
  #locks-container {
    
  }
}

@media screen and (min-width: 768px){
	#locks-container {
    width: 50rem;
    height: 100%;
  }
  
  #show-control {
    display: none;
  }
}
