/*body {
/*css for full size background image*/
  /*background: url('/assets/generic-smart-lock-796x398.jpg') no-repeat center center fixed;*/
  /*-webkit-background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-o-background-size: cover;*/
  /*background-size: cover;*/

  /*width: 100vw;*/
  /*background-color: #060;*/
  /*color: #fff;*/
  /*text-align: center;*/
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/

/*}*/

.inner-cover {
  position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

@media only screen and (max-width: 425px) {
            body {
                background: url('/assets/generic-smart-lock-796x398.jpg');
                background-position: 70%;
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
            }
        }
