<h2>Details of lock</h2>

<div>
    <table>
        <tr>
            <th>Lock Name</th>
            <th>Status</th>
            <th>Group</th>
            <th>Location</th>
            <th>Action</th>
        </tr>
        <% @locks.each do |lock| %>
            <tr>
                <td>@lock.name</td>
                <td>@lock.status</td>
                <td>@lock.group</td>
                <td>@lock.location</td>
                <tr>
                    <td><%=link_to "Delete", delete_lock_path %></td>
                    <td><%= # lock toggle %></td>
                </tr>
            </tr>
    </table>
</div>
